@model Web.SysAquarismo.Domain.Models.Usuario;

@{
    ViewData["Title"] = "Cadastro Peixe Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Cadastro Peixe</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/Fish_Food_icon-icons.com_68747.png" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Updated: May 30 2023 with Bootstrap v5.3.0
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <!-- Logo -->
        <div class="d-flex align-items-center justify-content-between">
            <a href="Principal" class="logo d-flex align-items-center">
                <img src="assets/img/Fish_Food_icon-icons.com_68747.png" alt="">
                <span class="d-none d-lg-block">SYS-AQUARISMO</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>
        <!-- End Logo -->

        <!-- Icons Navigation -->
        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <span class="d-none d-md-block dropdown-toggle ps-2">@Model.data.nome_login</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>@Model.data.nome_login</h6>
                        </li>
                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav>
        <!-- End Icons Navigation -->

    </header>
    <!-- ======= Header ======= -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">
            <!-- Dashboard Nav -->
            <li class="nav-item">
                <a class="nav-link">
                    <i class="bi bi-grid"></i>
                    <span>Opções</span>
                </a>
            </li>
            <!-- End Dashboard Nav -->
            <!-- Forms Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="CadastroPeixe">
                    <i class="bi bi-person"></i><span>Cadastrar Peixe</span>
                </a>
            </li>
            <!-- End Forms Nav -->
            <!-- Forms Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="page-buscar-peixe.html">
                    <i class="bi bi-person"></i><span>Buscar por peixe</span>
                </a>
            </li>
            <!-- End Forms Nav -->

            <li class="nav-heading">Paginas</li>

            <!-- Profile Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="users-profile.html">
                    <i class="bi bi-person"></i>
                    <span>Perfil do Usuario</span>
                </a>
            </li>
            <!-- End Profile Page Nav -->
            <!-- Contact Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="pages-contact.html">
                    <i class="bi bi-envelope"></i>
                    <span>Tem alguma sugestão? :)</span>
                </a>
            </li>
            <!-- End Contact Page Nav -->
        </ul>

    </aside>
    <!-- ======= Sidebar ======= -->

    <main id="main" class="main">

        <!-- Page Title -->
        <div class="pagetitle">
            <h1>Cadastre seu peixe</h1>
        </div>
        <!-- End Page Title -->

        <div class="card">
            <div class="card-body pt-3">
                @using (Html.BeginForm("CadastraPeixe", "CadastroPeixe", FormMethod.Post, new { @class = "row g-1" }))
                {
                    if (TempData["Mensagem"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["Mensagem"]
                        </div>
                    }
                    <form class="row g-1">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" value=@Model.data.id_usuario name="id_usuario" id="nome_peixe" readonly>
                            <label for="floatingInput">Id Usuario</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="nome_peixe" id="nome_peixe" required>
                            <label for="floatingInput">Nome</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="especie" id="especie">
                            <label for="floatingInput">Especie</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="descricao_peixe" id="descricao_peixe">
                            <label for="floatingInput">Descrição</label>
                        </div>

                        <div class="form-floating mb-3">
                            <select class="form-select" aria-label="Floating label select example" name="sexo" id="sexo" required>
                                <option selected disabled value="">Escolha...</option>
                                <option value="MACHO">Macho</option>
                                <option value="FEMEA">Femea</option>
                            </select>
                            <label class="floatingSelect">Sexo</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="peso" id="peso">
                            <label for="floatingInput">Peso</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="tamanho" id="tamanho">
                            <label for="floatingInput">Tamanho</label>
                        </div>

                        <div class="form-floating mb-3">
                            <select class="form-select" aria-label="Floating label select example" name="st_saude" id="st_saude" required>
                                <option selected disabled value="">Escolha...</option>
                                <option value="SAUDAVEL">Saudavel</option>
                                <option value="DOENTE">Doente</option>
                                <option value="MORTO">Morto</option>
                            </select>
                            <label class="floatingSelect">Saude</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" name="dt_morte" id="dt_morte" disabled>
                            <label for="floatingInput">Data da morte</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="ds_doenca" id="ds_doenca" disabled>
                            <label for="floatingInput">Descrição da doença</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" name="dt_aquisao" id="dt_aquisao">
                            <label for="floatingInput">Data da aquisição</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="file" name="img_peixe" id="img_peixe">
                            <label for="floatingInput">Foto do peixe</label>
                        </div>

                        <div class="col-12">
                            <button class="btn btn-primary w-100" type="submit">Finalizar cadastro</button>
                        </div>
                    </form>
                }
            </div>
        </div>

    </main>
    <!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </footer>
    <!-- ======= Footer ======= -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/chart.js/chart.umd.js"></script>
    <script src="assets/vendor/echarts/echarts.min.js"></script>
    <script src="assets/vendor/quill/quill.min.js"></script>
    <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>
